* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
}

.text {
    font-family: 'Space Mono', monospace;
    letter-spacing: 0.05rem;
    margin: 1rem;
}

main {
    display: flex;
    flex-flow: column wrap;
}

#error-image {
    max-width: 80%;
    margin: 0.5rem;
    align-self: center;
}

#error-image img{
    max-width: 100%;
}

#homepage-button {
    margin: 1rem 0;
}

#homepage-button a{
    padding: 0.7rem;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

article {
    margin: 1em 0;
}

.p1 {
    text-transform: uppercase;
    font-weight: bold;
}

.p2 {
    font-weight: bold;
    font-size: 18px;
}

.p3 {
    font-size: 16px;
}

@media screen and (min-width: 678px) {
    .wrapper {
        justify-content: flex-start;
    }
} 

@media screen and (min-width: 1040px) {
    main {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #error-image {
        flex: 0 0 50%;
    }

    section {
        flex: 0 0 45%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center; 
    }
}

@media screen and (min-width: 885px) {
    .p1 {
        font-size: 20px;
    }

    .p2 {
        font-size: 24px;
    }

    .p3 {
        font-size: 20px;
    }

    #error-image {
        max-width: 60%;
    }
}